<!-- Show the video file available for upload -->
<section ng-show="$ctrl.videoChosen"
    class="video-preview col-lg-12">

  <div class="col-md-6">
    <div class="row">
      <p>Video selected:</p>
      <a href="" class="thumbnail">
        <video
            autobuffer
            autoloop
            loop
            controls
            data-ng-src="{{$ctrl.video.url}}"
            alt="...">
        </video>
      </a>
    </div>

    <div class="col-md-4">
      <p class="name">
        <strong title="{{$ctrl.video.name}}" >
          {{$ctrl.video.name}}
        </strong>
      </p>
    </div>
  </div>

</section>
